server:
  port: 8081

camunda.bpm:
  admin-user:
    id: demo
    password: demo
    firstName: Demo
  filter:
    create: All tasks
  # Using processes.xml for explicit file listing instead
#  deployment-resource-pattern:
#    - "classpath:loan_approval.bpmn"

